<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家企业认证</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css" >
    <link rel="stylesheet" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>

      .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
      }
      .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
      }
      .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
      }
    </style>
  </head>
  <body class="h-100">
      <div class="container-fluid">
      <div class="row">
          <!-- / .main-navbar -->
          <div class="alert alert-success alert-dismissible fade show mb-0" style="width: 100%!important;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <strong>企业认证!</strong>  成功认证的企业将开放商家后台! </div>
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">设汇家企业认证</span>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">

              <div class="col-lg-7">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">企业基本信息</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="companyname">企业名称</label>
                                <input type="text" class="form-control" id="companyname" placeholder="企业名称" value=""> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="unifiedcreditcode">统一信用代码</label>
                                <input type="text" class="form-control" id="unifiedcreditcode" placeholder="统一信用代码" value=""> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="companyaddress">注册地址</label>
                                <input type="text" class="form-control" name="companyaddress" id="companyaddress" placeholder="注册地址" value=""> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="businessscope">企业经验范围</label>
                                <textarea class="form-control" id="businessscope" rows="4"></textarea>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="card card-small mb-4 pt-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-4">
                      <strong class="text-muted d-block mb-2">认证说明</strong>
                      <span style="font-size:12px ;">设汇家企业认证是企业身份的象征，通过企业认证后，可以增加用户的影响力，可以享有设汇家特殊权限，可以迅速增加粉丝。通过企业认证后，用户名字后面会加一个企业的标识。</span>
                    </li>
                  </ul>
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <img src="http://5b0988e595225.cdn.sohucs.com/images/20190301/4177a110311d4022b1b785d1d75962b9.jpeg" alt="User Avatar" width="250" id="businesslicenseimg"> </div>
                    <a href="javascript:;" class="file">上传营业执照
                     <input type="file" id="businesslicense" />
                    </a>


                  </div>

                </div>
              </div>

              <div class="col-lg-7">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">联系人信息</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="contactname">联系人名称</label>
                                <input type="text" class="form-control" id="contactname" placeholder="请输入联系人名称" value=""> </div>
                              <div class="form-group col-md-4">
                                <label for="contactemail">联系人邮箱</label>
                                <input type="email" class="form-control" id="contactemail" placeholder="请输入联系人邮箱"> </div>
                            </div>
                            <div class="form-row">
                            <div class="form-group col-md-4">
                              <label for="contactphone">手机号码</label>
                              <input type="text" class="form-control" id="contactphone" placeholder="请输入手机号码">
                            </div>
                              <div class="form-group col-md-2">
                                <label for="sendsms"></label>
                              <button type="button" class="btn " id="sendsms" style="margin-top: 30px;" onclick="sendMsgCode()">发送验证码</button>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-3">
                                <label for="smscode">验证码 </label>
                                <input type="text" class="form-control" id="smscode" placeholder="请输入验证码" oninput="check()"><span style="color: #17c671;font-size: 12px;font-weight: bold;" id="checkok"></span> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="idcard">身份证号码</label>
                                <input type="text" class="form-control" id="idcard" placeholder="身份证号码"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="contactaddress">联系地址</label>
                                <input type="text" class="form-control" id="contactaddress" placeholder="请输入联系地址"> </div>
                            </div>

                            <button type="button" class="btn btn-accent" onclick="save()">提交认证</button>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="card card-small mb-4 pt-3">
                      <div class="card-header border-bottom text-center">
                        <div class="mb-3 mx-auto">
                          <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/202004021610593523840642784547502.jpg" alt="User Avatar" width="240" id="idcardpositiveimg"> </div>
                        <a href="javascript:;" class="file">上传身份证正面
                          <input type="file" id="idcardpositive"  />
                        </a>
                      </div>

                      <div class="card-header border-bottom text-center">
                        <div class="mb-3 mx-auto">
                          <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/202004021612128178511606060969560.jpg" alt="User Avatar" width="240" id="idcardreverseimg"> </div>
                        <a href="javascript:;" class="file"> 上传身份证反面<input type="file" id="idcardreverse"  /></a>

                      </div>

                </div>
              </div>

            </div>
            <!-- End Default Light Table -->
          </div>
      </div>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/shards-dashboards.1.1.0.min.js"></script>

  <script>

    function check() {
      $.ajax({
        type: 'POST',
        url : "/user/check?phone="+$("#contactphone").val()+"&sms="+$("#smscode").val(),
        processData: false,
        contentType: false,
      }).done(function(result) {
        if(result.data>0){
          $("#checkok").html(" [ √验证成功 ]");
        }else {
          $("#checkok").html("");
        }
      });
    }
    
    var countdown=60;  // 时长 s
    // 获取验证码按钮点击事件
    function sendMsgCode() {
      if($("#contactphone").val()==""||$("#contactphone").val()==null||!(/^1[3456789]\d{9}$/.test($("#contactphone").val()))){
        layui.use("layer",function() {
          layer.msg('手机号码不合法');
        });
        return false;
      }

      $("#sendsms").attr('disabled',true);
      $("#sendsms").text('重新发送('+60+'s)');
      var timer = setInterval(function () {
        if (countdown == 0) {
          clearInterval(timer);
          $("#sendsms").text('发送验证码');
          countdown = 60;
          $("#sendsms").attr('disabled',false);
        }

        $("#sendsms").text('重新发送('+(countdown-1)+'s)');
        countdown--;
      }, 1000);
      $.ajax({
        type: 'POST',
        url : "/user/sms?phone="+$("#contactphone").val(),
        processData: false,
        contentType: false,
      }).done(function(result) {

      });

    };

    $("#idcardpositive").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            console.log(result);
            $("#idcardpositiveimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#idcardreverse").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            console.log(result);
            $("#idcardreverseimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#businesslicense").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            console.log(result);
            $("#businesslicenseimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

      function save() {
        if ($("#companyname").val() == "" || $("#companyname").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入公司名称');
          }); return false;
        } else if ($("#unifiedcreditcode").val() == "" || $("#unifiedcreditcode").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入统一信用代码');
          }); return false;
        } else if ($("#companyaddress").val() == "" || $("#companyaddress").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入公司注册地');
          }); return false;
        } else if ($("#businessscope").val() == "" || $("#businessscope").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入经营范围');
          }); return false;
        } else if ($("#businesslicenseimg").attr('src') == "http://5b0988e595225.cdn.sohucs.com/images/20190301/4177a110311d4022b1b785d1d75962b9.jpeg" ) {
          layui.use("layer",function() {
            layer.msg('请上传营业执照');
          }); return false;
        } else if ($("#contactname").val() == "" || $("#contactname").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人名称');
          }); return false;
        } else if ($("#contactemail").val() == "" || $("#contactemail").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人邮箱');
          }); return false;
        } else if ($("#contactphone").val() == "" || $("#contactphone").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人手机号码');
          }); return false;
        } else if ($("#idcard").val() == "" || $("#idcard").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入身份证号码');
          }); return false;
        } else if ($("#contactaddress").val() == "" || $("#contactaddress").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人地址');
          });return false;
        } else if ($("#idcardpositiveimg").attr('src') == "https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/202004021610593523840642784547502.jpg" ) {
          layui.use("layer",function() {
            layer.msg('请输入上传身份证正面');
          });return false;
        } else if ($("#idcardreverseimg").attr('src') == "https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/202004021612128178511606060969560.jpg") {
          layui.use("layer",function() {
            layer.msg('请输入上传身份证反面');
          });return false;
        } else if ($("#smscode").val() == "" || $("#smscode").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入验证码');
          }); return false;
        }
        $.ajax({
          type: 'POST',
          url : "/user/check?phone="+$("#contactphone").val()+"&sms="+$("#smscode").val(),
          processData: false,
          contentType: false,

        }).done(function(result) {
          if(result.data>0){
              $.ajax({
                type: 'POST',
                url: "/user/userauth",
                data: JSON.stringify({
                  "businesslicense": $("#businesslicenseimg").attr('src'),
                  "businessscope": $("#businessscope").val(),
                  "companyaddress": $("#companyaddress").val(),
                  "companyname": $("#companyname").val(),
                  "contactaddress": $("#contactaddress").val(),
                  "contactname": $("#contactname").val(),
                  "contactemail": $("#contactemail").val(),
                  "contactphone": $("#contactphone").val(),
                  "idcard": $("#idcard").val(),
                  "idcardpositive": $("#idcardpositiveimg").attr('src'),
                  "idcardreverse": $("#idcardreverseimg").attr('src'),
                  "unifiedcreditcode": $("#unifiedcreditcode").val()
                }),
                processData: false,
                contentType: "application/json; charset=UTF-8",
              }).done(function (result) {
                layui.use("layer", function () {
                  layer.alert('您的申请成功，我们将在一个工作日内进行审核。', {
                    skin: 'layui-layer-molv' //样式类名
                    , closeBtn: 0
                    , anim: 4 //动画类型
                  }, function () {
                    window.location.replace("/login");
                  });
                });
              });
      }else {layui.use("layer",function() {layer.msg('无效验证码');}); return false;}
        });
    };

  </script>
  </body>
</html>