<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link " href="/manage/index">
                    <i class="material-icons">edit</i>
                    <span>首页</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/brands">
                    <i class="material-icons">vertical_split</i>
                    <span>我的品牌</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/goods">
                    <i class="material-icons">vertical_split</i>
                    <span>特加仓管理</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/comments">
                    <i class="material-icons">note_add</i>
                    <span>评论管理</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/cases">
                    <i class="material-icons">note_add</i>
                    <span>案例中心</span>
                  </a>
                </li>
                <li class="nav-item active" >
                  <a class="nav-link " href="/manage/nativecontent">
                    <i class="material-icons">note_add</i>
                    <span>内容中心</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/count">
                    <i class="material-icons">view_module</i>
                    <span>数据中心</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/tables">
                    <i class="material-icons">table_chart</i>
                    <span>子账号管理</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/manage/usercenter">
                    <i class="material-icons">person</i>
                    <span>账户信息</span>
                  </a>
                </li>
             
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="col-lg-12 col-md-12" style="position: fixed;bottom: 0;z-index:100;background-color: #ffffff;padding: 5px;">
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="savaData(0)">保存</button>
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="savaData(1)">保存并发布</button>
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="preview()">预览</button>
            </div>
            <!-- End Page Header -->
            <div class="row" style="margin-top: 8px;">
              <div class="col-lg-8 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body">
                    <form class="add-new-post">
                      <input class="form-control form-control-lg mb-3" id="title" type="text" placeholder="输入文章的标题">
                      <textarea class="easyui-validatebox" name="newsMatter" id="newsMatter" rows="60" cols="70" data-options="required:true">  </textarea>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body layui-form" >
                    <h1>图文属性标签</h1>
                    <p style="font-size: 12px;color: #8a8a8a;margin-bottom: 3px;">按风格分类</p>
                    <input type="checkbox" name="label" title="法式新古典" value="法式新古典">
                    <input type="checkbox" name="label" title="美式风格" value="美式风格">
                    <input type="checkbox" name="label" title="轻奢" value="轻奢">
                    <input type="checkbox" name="label" title="极简" value="极简">
                    <input type="checkbox" name="label" title="北欧" value="北欧">
                    <input type="checkbox" name="label" title="现代" value="现代">
                    <input type="checkbox" name="label" title="新中式" value="新中式">
                    <p style="font-size: 12px;color: #8a8a8a;margin-bottom: 3px;">按功能分类</p>
                    <input type="checkbox" name="label" title="成品家居" value="成品家居">
                    <input type="checkbox" name="label" title="定制家居" value="定制家居">
                    <input type="checkbox" name="label" title="窗帘" value="窗帘">
                    <input type="checkbox" name="label" title="墙布" value="墙布">
                    <input type="checkbox" name="label" title="画品" value="画品">
                    <input type="checkbox" name="label" title="灯具" value="灯具">
                    <input type="checkbox" name="label" title="生活用品" value="生活用品">
                    <input type="checkbox" name="label" title="饰品" value="饰品">
                  </div>
                </div>
              </div>
              </div>
            </div>

        </main>

      </div>
    </div>
   
    <script src="../js/jquery-3.3.1.min.js" ></script>
     <script src="../ckeditor/ckeditor.js"></script>
     <script src="../layui/layui.js"></script>
     <script src="../scripts/popper.min.js"></script>
     <script src="../scripts/bootstrap.min.js"></script>
     <script src="../js/jquery.cookie.min.js"></script>
  <script>
    layui.use('form', function(){
      var form = layui.form;
    });
    CKEDITOR.replace('newsMatter', {
      height : 600,
      filebrowserImageUploadUrl :  "/file/image"
    });

    $('#newsMatter').each(function () {
      var $textarea = $(this);
      var data=CKEDITOR.instances[$textarea.attr('name')].getData();
      data=data.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      data=data.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      $textarea.val(data);
    });

    function savaData(status){
      var content = CKEDITOR.instances.newsMatter.getData();
      content=content.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      content=content.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      var label='';
      $("input:checkbox[name='label']:checked").each(function(i){

        label = label+$(this).val()+",";
        console.log(label);

      });
      if($("#title").val()==null||$("#title").val()==''||$("#title").val()==undefined) {
        layui.use("layer",function() {
          layer.msg('请填写标题');
        });
        return false;
      }else if(content==null||content==''||content==undefined) {
        layui.use("layer",function() {
          layer.msg('请填写内容');
        });
        return false;
      }else if(label==null||label==''||label==undefined) {
        layui.use("layer",function() {
          layer.msg('请至少选择一个标签');
        });
        return false;
      }
      $.ajax({
        type: 'POST',
        url: "/nativecontent/add",
        data: JSON.stringify({
          "status":status,
          "content": content,
          "title": $("#title").val(),
          "label":label
        }),
        processData: false,
        contentType: "application/json; charset=UTF-8",
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function (result) {
        layui.use("layer", function () {
          layer.alert('发布成功', {
            skin: 'layui-layer-molv' //样式类名
            , closeBtn: 0
            , anim: 4 //动画类型
          }, function () {
            window.location.replace("/manage/nativecontent");
          });
        });
      });
    }
    
    function preview() {
      var content = CKEDITOR.instances.newsMatter.getData();
      content=content.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      content=content.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号

        layui.use("layer", function () {
          layer.open({
            type: 1,
            title: $("#title").val(),
            skin: 'layui-layer-rim', //加上边框
            area: ['500px', '700px'], //宽高
            content: content
          });
        });

    }
  </script>
  </body>
</html>