<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="never">
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/manageindex">
                  <i class="material-icons">edit</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managebrands">
                  <i class="material-icons">vertical_split</i>
                  <span>我的品牌</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecases">
                  <i class="material-icons">vertical_split</i>
                  <span>案例管理</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/managegoods">
                  <i class="material-icons">vertical_split</i>
                  <span>产品管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecomments">
                  <i class="material-icons">note_add</i>
                  <span>评论管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageshopfans">
                  <i class="material-icons">table_chart</i>
                  <span>粉丝管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecount">
                  <i class="material-icons">view_module</i>
                  <span>数据中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managetables">
                  <i class="material-icons">table_chart</i>
                  <span>子账号管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageusercenter">
                  <i class="material-icons">person</i>
                  <span>账户信息</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="col-lg-12 col-md-12" style="position: fixed;bottom: 0;z-index:100;background-color: #ffffff;padding: 5px;">
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="savaData(0)">保存</button>
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="savaData(1)">保存并发布</button>
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="preview()">预览</button>
            </div>
            <!-- End Page Header -->
            <div class="row" style="margin-top: 8px;">
              <div class="col-lg-8 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body">
                    <form class="add-new-post">
                      <input class="form-control form-control-lg mb-3" id="title" type="text" placeholder="输入文章的标题">
                      <textarea class="easyui-validatebox" name="newsMatter" id="newsMatter" rows="60" cols="70" data-options="required:true">  </textarea>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 layui-form">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body " >
                    <h5>图文属性标签</h5>
                    <p style="font-size: 12px;color: #8a8a8a;margin-bottom: 3px;">风格分类</p>
                   <select id="label">
                     <option value="极简">极简</option>
                     <option value="轻奢">轻奢</option>
                     <option value="中式">中式</option>
                     <option value="美式">美式</option>
                     <option value="欧式">欧式</option>
                     <option value="其他">其他</option>
                   </select>


                    <p style="font-size: 12px;color: #8a8a8a;margin-bottom: 3px;">功能分类</p>
                    <select id="subject" lay-filter="subjecta" lay-verify="required">
                      <option value="家具">家具</option>
                      <option value="家纺">家纺</option>
                      <option value="配饰">配饰</option>
                      <option value="灯具">灯具</option>
                    </select>
                    <select id="freesubject">
                      <option value="床">床</option>
                      <option value="沙发">沙发</option>
                      <option value="茶几">茶几</option>
                      <option value="桌子">桌子</option>
                      <option value="椅子">椅子</option>
                      <option value="柜子">柜子</option>
                      <option value="置物架">置物架</option>
                      <option value="其他">其他</option>
                    </select>
                  </div>

                  <div class="card-body " >
                    <h5>选择图文风格所在区域</h5>
                    <select id="fromv" class="form-control">
                      <option value="0">国内</option>
                      <option value="1">国外</option>
                    </select>
                  </div>

                  <div class="card-body " >
                    <h5>选择图文所属品牌</h5>
                    <select id="brandcode" class="form-control">
                    </select>
                  </div>
                </div>
              </div>
              </div>
            </div>

        </main>

      </div>
    </div>
   <input type="hidden" id="code" value="" th:value="${code}">

    <script src="../js/jquery-3.3.1.min.js" ></script>
     <script src="../ckeditor/ckeditor.js"></script>
     <script src="../layui/layui.js"></script>
     <script src="../scripts/popper.min.js"></script>
     <script src="../scripts/bootstrap.min.js"></script>
     <script src="../js/jquery.cookie.min.js"></script>
  <script>



    $.ajax({
      type: 'GET',
      url : "/brand/mybrands",
      async: true,
      crossDomain: true,
      headers: {
        "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
        "cache-control": "no-cache",
        "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
      }
    }).done(function(result) {
      if(result.data.length!=0){
      result.data.forEach(function (v) {
        $("#brandcode").append("<option value='"+v.code+"'>"+v.name+"</option>");
      })
      }else {
        $("#brandcode").append("<option >无品牌</option>");
      }



    layui.use(['form', 'jquery'], function(){
      var form = layui.form,
       jq=layui.jquery;
      form.on('select(subjecta)', function(data){
        if(data.value=='家具'){
          jq("#freesubject").html('<option value="床">床</option>\n' +
                  '                      <option value="沙发">沙发</option>\n' +
                  '                      <option value="茶几">茶几</option>\n' +
                  '                      <option value="桌子">桌子</option>\n' +
                  '                      <option value="椅子">椅子</option>\n' +
                  '                      <option value="柜子">柜子</option>\n' +
                  '                      <option value="置物架">置物架</option>\n' +
                  '                      <option value="其他">其他</option>');
        }
        if(data.value=='家纺'){
          jq("#freesubject").html('<option value="窗帘">窗帘</option>\n' +
                  '                      <option value="床品">床品</option>\n' +
                  '                      <option value="靠垫">靠垫</option>\n' +
                  '                      <option value="抱枕">抱枕</option>\n' +
                  '                      <option value="其他">其他</option>');
        }
        if(data.value=='配饰'){
          jq("#freesubject").html('<option value="摆件">摆件</option>\n' +
                  '                      <option value="挂画">挂画</option>\n' +
                  '                      <option value="墙纸">墙纸</option>\n' +
                  '                      <option value="其他">其他</option>');
        }
        if(data.value=='灯具'){
          jq("#freesubject").html('<option value="吊灯">吊灯</option>\n' +
                  '                      <option value="壁灯">壁灯</option>\n' +
                  '                      <option value="落地灯">落地灯</option>\n' +
                  '                      <option value="台灯">台灯</option>');
        }
        form.render();
      });
    });

    });
    CKEDITOR.replace('newsMatter', {
      height : 600,
      filebrowserImageUploadUrl :  "/file/image",
      disallowedContent:'img{width,height};img[width,height]'
    });

    if($("#code").val()!=""&&$("#code").val()!=null&&$("#code").val()!=undefined){
      $.ajax({
        type: 'GET',
        url : "/nativecontent/newsByCode?code="+$("#code").val(),
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        $("#title").val(result.data.title);
        CKEDITOR.instances.newsMatter.setData(result.data.content);
      });
    }



    $('#newsMatter').each(function () {
      var $textarea = $(this);
      var data=CKEDITOR.instances[$textarea.attr('name')].getData();
      data=data.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      data=data.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      $textarea.val(data);
    });

    function savaData(status){
      var content = CKEDITOR.instances.newsMatter.getData();
      content=content.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      content=content.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      content=content.replace(new RegExp("height",("gm")),'width');//转义&ldquo; 右双引号

      if($("#title").val()==null||$("#title").val()==''||$("#title").val()==undefined) {
        layui.use("layer",function() {
          layer.msg('请填写标题');
        });
        return false;
      }else if(content==null||content==''||content==undefined) {
        layui.use("layer",function() {
          layer.msg('请填写内容');
        });
        return false;
      }

      if($("#code").val()!=""&&$("#code").val()!=null&&$("#code").val()!=undefined){
        $.ajax({
          type: 'POST',
          url: "/nativecontent/add",
          data: JSON.stringify({
            "code": $("#code").val(),
            "fromv": $("#fromv").val(),
            "status": status,
            "content": content,
            "title": $("#title").val(),
            "label":  $("#label").val(),
            "subject":  $("#subject").val(),
            "freesubject":  $("#freesubject").val(),
            "brandcode":  $("#brandcode").val()
          }),
          processData: false,
          contentType: "application/json; charset=UTF-8",
          headers: {
            "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
            "cache-control": "no-cache",
            "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
          }
        }).done(function (result) {
          layui.use("layer", function () {
            layer.alert('发布成功', {
              skin: 'layui-layer-molv' //样式类名
              , closeBtn: 0
              , anim: 4 //动画类型
            }, function () {
              window.location.replace("/managegoods");
            });
          });
        });

      }else {
        $.ajax({
          type: 'POST',
          url: "/nativecontent/add",
          data: JSON.stringify({
            "fromv": $("#fromv").val(),
            "status": status,
            "content": content,
            "title": $("#title").val(),
            "label":  $("#label").val(),
            "subject":  $("#subject").val(),
            "freesubject":  $("#freesubject").val(),
            "brandcode":  $("#brandcode").val()
          }),
          processData: false,
          contentType: "application/json; charset=UTF-8",
          headers: {
            "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
            "cache-control": "no-cache",
            "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
          }
        }).done(function (result) {
          layui.use("layer", function () {
            layer.alert('发布成功', {
              skin: 'layui-layer-molv' //样式类名
              , closeBtn: 0
              , anim: 4 //动画类型
            }, function () {
              window.location.replace("/managegoods");
            });
          });
        });
      }
    }
    
    function preview() {
      var content = CKEDITOR.instances.newsMatter.getData();
      content=content.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      content=content.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号

        layui.use("layer", function () {
          layer.open({
            type: 1,
            title: $("#title").val(),
            skin: 'layui-layer-rim', //加上边框
            area: ['500px', '700px'], //宽高
            content: content
          });
        });

    }
  </script>
  </body>
</html>