<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/manage/index">
                  <i class="material-icons">edit</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/brands">
                  <i class="material-icons">vertical_split</i>
                  <span>我的品牌</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/manage/goods">
                  <i class="material-icons">vertical_split</i>
                  <span>特加仓管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/comments">
                  <i class="material-icons">note_add</i>
                  <span>评论管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/cases">
                  <i class="material-icons">note_add</i>
                  <span>案例中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/nativecontent">
                  <i class="material-icons">note_add</i>
                  <span>内容中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/count">
                  <i class="material-icons">view_module</i>
                  <span>数据中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/tables">
                  <i class="material-icons">table_chart</i>
                  <span>子账号管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manage/usercenter">
                  <i class="material-icons">person</i>
                  <span>账户信息</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="col-lg-12 col-md-12" style="position: fixed;bottom: 0;z-index:100;background-color: #ffffff;padding: 5px;">
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="savaData()">保存</button>
            </div>
            <!-- End Page Header -->
            <div class="row" style="margin-top: 8px;">
              <div class="col-lg-8 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body">
                    <form class="add-new-post">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <div class="card-header border-bottom text-center">
                            <div class="mb-3 mx-auto">
                              <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1588743624402&di=d7eeb4dca9d478f6f431d0e4cad095e9&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F15%2F41%2F24%2F82G58PICnZi_1024.png%2521%2Ffw%2F1024%2Fwatermark%2Furl%2FL2ltYWdlcy93YXRlcm1hcmsvZGF0dS5wbmc%3D%2Frepeat%2Ftrue" alt="User Avatar" width="120" id="logoimg"> </div>
                            <a href="javascript:;" class="file">上传展示图片
                              <input type="file" id="logo" />
                            </a>
                          </div>
                        </div>
                      </div>
                      <textarea class="easyui-validatebox" name="newsMatter" id="newsMatter" rows="60" cols="70" data-options="required:true">  </textarea>
                    </form>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body">
                  <form class="add-new-post">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="introduce">品牌介绍</label>
                      <textarea class="form-control" id="introduce" rows="4"></textarea>
                    </div>
                  </div>
                    <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="business">招商信息</label>
                      <textarea class="form-control" id="business" rows="4"></textarea>
                    </div>
                  </div>
                  </form>
                  </div>
                </div>
              </div>
              </div>
            </div>

        </main>

      </div>
    </div>
   
    <script src="../js/jquery-3.3.1.min.js" ></script>
     <script src="../ckeditor/ckeditor.js"></script>
     <script src="../layui/layui.js"></script>
     <script src="../scripts/popper.min.js"></script>
     <script src="../scripts/bootstrap.min.js"></script>
     <script src="../js/jquery.cookie.min.js"></script>
  <script>

    $("#logo").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            console.log(result);
            $("#logoimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    layui.use('form', function(){
      var form = layui.form;
    });
    CKEDITOR.replace('newsMatter', {
      height : 600,
      filebrowserImageUploadUrl :  "/file/image"
    });

    $('#newsMatter').each(function () {
      var $textarea = $(this);
      var data=CKEDITOR.instances[$textarea.attr('name')].getData();
      data=data.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      data=data.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      $textarea.val(data);
    });

    function savaData(){

      var content = CKEDITOR.instances.newsMatter.getData();
      content=content.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      content=content.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      if ($("#name").val() == "" || $("#name").val() == null) {
        layui.use("layer",function() {
          layer.msg('请输入品牌名称');
        }); return false;
      }
      if (content == "" || content == null) {
        layui.use("layer",function() {
          layer.msg('请编辑品牌内容');
        }); return false;
      }

      if ($("#introduce").val() == "" || $("#introduce").val() == null) {
        layui.use("layer",function() {
          layer.msg('请输入品牌介绍');
        }); return false;
      }
      if ($("#business").val() == "" || $("#business").val() == null) {
        layui.use("layer",function() {
          layer.msg('请输入招商信息');
        }); return false;
      }
      $.ajax({
        type: 'Put',
        url: "/brand/add",
        data: JSON.stringify({
          "logo": $("#logoimg").attr('src'),
          "brandgroup": $("#brandgroup").val(),
          "label": $("#label").val(),
          "content": content,
          "name": $("#name").val(),
          "introduce":$("#introduce").val(),
          "business":$("#business").val()
        }),
        processData: false,
        contentType: "application/json; charset=UTF-8",
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function (result) {
        layui.use("layer", function () {
          layer.alert('发布成功', {
            skin: 'layui-layer-molv' //样式类名
            , closeBtn: 0
            , anim: 4 //动画类型
          }, function () {
            window.location.replace("/manage/brands");
          });

        });
      });
    }
    

  </script>
  </body>
</html>