<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../styles/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/allcss.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/manageindex">
                  <i class="material-icons">edit</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managebrands">
                  <i class="material-icons">vertical_split</i>
                  <span>我的品牌</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecases">
                  <i class="material-icons">vertical_split</i>
                  <span>案例管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managegoods">
                  <i class="material-icons">vertical_split</i>
                  <span>产品管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecomments">
                  <i class="material-icons">note_add</i>
                  <span>评论管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageshopfans">
                  <i class="material-icons">table_chart</i>
                  <span>粉丝管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecount">
                  <i class="material-icons">view_module</i>
                  <span>数据中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managetables">
                  <i class="material-icons">table_chart</i>
                  <span>子账号管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageusercenter">
                  <i class="material-icons">person</i>
                  <span>账户信息</span>
                </a>
              </li>
             
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="请输入搜索内容" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="../images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">用户名</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" onclick="out()">
                      <i class="material-icons text-danger">&#xE879;</i> 退出 </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">首页</span>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Small Stats Blocks -->
            <div class="row">
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">店铺综合评分</span>
                        <h6 class="stats-small__value count my-3">4.8</h6>
                      </div>
                      <div class="stats-small__data">
                        <span class="stats-small__percentage stats-small__percentage--increase">同比上月增长4.7%</span>
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-1"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-6 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">店铺关注人数</span>
                        <h6 class="stats-small__value count my-3" id="followcount"></h6>
                      </div>
                      <div class="stats-small__data">
                        <span class="stats-small__percentage stats-small__percentage--increase">同比上月增长12.4%</span>
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-2"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">店铺今日访问人数</span>
                        <h6 class="stats-small__value count my-3" id="today"></h6>
                      </div>
                      <div class="stats-small__data">
                        <span class="stats-small__percentage stats-small__percentage--decrease">本月人均日访问人数<span id="tomom"></span>人</span>
                      </div>
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-3"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">案例数量</span>
                        <h6 class="stats-small__value count my-3" id="casecount"></h6>
                      </div>
                     
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-4"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg col-md-4 col-sm-12 mb-4">
                <div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">违规提示<i class="material-icons" style="color:red;">&#xE7F4;</i></span>
                        <h6 class="stats-small__value count my-3">0</h6>
                      </div>
                     
                    </div>
                    <canvas height="120" class="blog-overview-stats-small-5"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Small Stats Blocks -->
            <div class="row">
			
			<!-- Discussions Component -->
              <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                <div class="card card-small">
                <div id="container" style="min-width:400px;height:400px"></div>
                </div>
              </div>
              <!-- End Discussions Component -->
			 <!-- New Draft Component -->

              <!-- End New Draft Component -->
              <!-- Top Referrals Component -->
              <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">最新评论(共<span id="commentcount"></span>条)</h6>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush" id="comment">

                    </ul>
                  </div>
                  <div class="card-footer border-top">
                    <div class="row">
                      <div class="col text-right view-report">
                        <a href="/managecomments">查看更多</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="../js/jquery-3.3.1.min.js" ></script>
    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../scripts/extras.1.1.0.min.js"></script>
    <script src="../scripts/extras.1.1.0.min.js"></script>
    <script src="../js/jquery.cookie.min.js"></script>
    <script>

      $.ajax({
        type: 'GET',
        url : "/shop/get",
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        $.ajax({
          type: 'GET',
          url : "/shop/fwl?code="+result.data.code,
          async: true,
          crossDomain: true,
          headers: {
            "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
            "cache-control": "no-cache",
            "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
          }
        }).done(function(result) {
          var chart = Highcharts.chart('container', {
            chart: {
              type: 'column'
            },
            title: {
              text: '15日店铺访问量'
            },
            subtitle: {
              text: '数据截止 '
            },
            xAxis: {
              type: 'category',
              labels: {
                rotation: -45  // 设置轴标签旋转角度
              }
            },
            yAxis: {
              min: 0,
              title: {
                text: '访问量 (人)'
              }
            },
            legend: {
              enabled: false
            },
            tooltip: {
              pointFormat: '15日店铺访问量: <b>{point.y} 人数</b>'
            },
            series: [{
              name: '访问量',
              data: result.data,
              dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y}', // :.1f 为保留 1 位小数
                y: 10
              }
            }]
          });
        });

        $.ajax({
          type: 'GET',
          url : "/shop/count?code="+result.data.code,
          async: true,
          crossDomain: true,
          headers: {
            "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
            "cache-control": "no-cache",
            "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
          }
        }).done(function(result) {
          $("#followcount").html(result.data.followcount);
          $("#today").html(result.data.today);
          $("#tomom").html(result.data.tomom);
          $("#casecount").html(result.data.casecount);
        });
          $.ajax({
            type: 'Post',
            url : "/comment/shopcomments?page="+0,
            async: true,
            crossDomain: true,
            headers: {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
            }
          }).done(function(result) {
            $("#commentcount").html(result.data.count)
            result.data.data.forEach(function (v,i) {
                $("#comment").append(' <li class="list-group-item d-flex px-3">\n' +
                        '<span class="text-semibold text-fiord-blue" style="max-width: 10em;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">'+v.content+'</span>\n' +
                        '<span class="ml-auto text-right text-semibold text-reagent-gray">'+v.addftime+'</span>\n' +
                        '</li>')
            });
          });
      });

    </script>

  </body>
</html>