<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
  </head>
  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" id="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/manageindex">
                  <i class="material-icons">edit</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageuser">
                  <i class="material-icons">table_chart</i>
                  <span>企业管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managebrands">
                  <i class="material-icons">vertical_split</i>
                  <span>我的品牌</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managegoods">
                  <i class="material-icons">vertical_split</i>
                  <span>特价仓管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managebanners">
                  <i class="material-icons">vertical_split</i>
                  <span>广告管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managestudys">
                  <i class="material-icons">vertical_split</i>
                  <span>课程管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecomments">
                  <i class="material-icons">note_add</i>
                  <span>评论管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecases">
                  <i class="material-icons">vertical_split</i>
                  <span>案例管理</span>
                </a>
              </li>
              <li class="nav-item " >
                <a class="nav-link " href="/managenativecontent">
                  <i class="material-icons">note_add</i>
                  <span>内容中心</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/manageshopfans">
                  <i class="material-icons">table_chart</i>
                  <span>粉丝管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecount">
                  <i class="material-icons">view_module</i>
                  <span>数据中心</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managetables">
                  <i class="material-icons">table_chart</i>
                  <span>子账号管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageusercenter">
                  <i class="material-icons">person</i>
                  <span>账户信息</span>
                </a>
              </li>

            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="请输入搜索内容" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">用户名</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" onclick="out()">
                      <i class="material-icons text-danger">&#xE879;</i> 退出 </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Overview</span>
                <h3 class="page-title">粉丝管理</h3>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">用户列表&nbsp;</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">用户名</th>
                          <th scope="col" class="border-0">手机号码</th>
                          <th scope="col" class="border-0">用户身份</th>
                          <th scope="col" class="border-0">关注时间</th>
                          <th scope="col" class="border-0">备注</th>
                          <th scope="col" class="border-0">操作</th>
                        </tr>
                      </thead>
                      <tbody id="dataview" >

                      </tbody>
                    </table>
                    <div id="pages"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <script src="../js/jquery.cookie.min.js"></script>
     <script src="../layui/layui.js"></script>

  <script>
    var index=0;
    function find(page) {
      var text='';
      if($("#text").val()!=''&&$("#text").val()!=null){
        text="&text="+$("#text").val();
      }
      $.ajax({
        type: 'GET',
        url : "/shop/getfollowByUser?page="+page,
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        $("#dataview").html("");
        result.data.forEach(function (v,i) {
          var type ='设计师';

          if(v.userSecurity.type==0){
            type ='设计师';
          }else  if(v.userSecurity.type==1){
            type ='经销商';
          }else if(v.userSecurity.type==2){
            type ='工厂';
          }else if(v.userSecurity.type==3){
            type ='设计公司';
          }else{
            type ='无';
          }
          var remarks='无';
          if( v.remarks!=null){
            remarks=v.remarks;
          }

            $("#dataview").append('<tr>'+
                  ' <td><img src="'+v.userSecurity.userBasic.headportrait+'" style="width:30px;" class=" rounded-circle"> '+v.userSecurity.userBasic.nikename+'</td>'+
                  '<td>'+v.userSecurity.phonenumber+'</td>'+
                  '<td>'+type+'</td>'+
                  '<td>'+v.userSecurity.addftime+'</td>'+
                  '<td id="remarks'+v.code+'">'+remarks +'</td>'+
                  '<td>'+"<button type=\"button\" class=\"mb-2 btn btn-sm btn-success  mr-1\" onclick=\"remarks(\'"+v.code+"')\">备注信息</button>"+'</td>'+
                  '</tr>')
        });
      });
    }

    function remarks(code){
      layui.use("layer", function () {
        layer.prompt({title: '请输入备注信息', formType: 2}, function(text, index){
          $.ajax({
            type: 'PUT',
            url : "/shop/setremarksinfo?code="+code+"&text="+text,
            async: true,
            crossDomain: true,
            headers: {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
            }
          }).done(function(result) {
            $("#remarks"+code).html(text);
            layer.close(index);
            lay.msg("操作成功！");
          });
        });
      });
    }

    layui.use(['laypage', 'layer'], function(){
      var laypage = layui.laypage
              ,layer = layui.layer;

      var text='';
      if($("#text").val()!=''&&$("#text").val()!=null){
        text="?text="+$("#text").val();
      }
      $.ajax({
        type: 'GET',
        url : "/shop/getfollowcountByUser",
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        laypage.render({
          elem: 'pages'
          ,count: result.data
          ,theme: '#FF5722'
          ,jump: function(obj, first){
            index=obj.curr-1;
            find(obj.curr-1);
          }
        });
      });
    });

  </script>
  </body>
</html>