<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/manageindex">
                  <i class="material-icons">edit</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageuser">
                  <i class="material-icons">table_chart</i>
                  <span>企业管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managebrands">
                  <i class="material-icons">vertical_split</i>
                  <span>我的品牌</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managegoods">
                  <i class="material-icons">vertical_split</i>
                  <span>特价仓管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managebanners">
                  <i class="material-icons">vertical_split</i>
                  <span>广告管理</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/managestudys">
                  <i class="material-icons">vertical_split</i>
                  <span>课程管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecomments">
                  <i class="material-icons">note_add</i>
                  <span>评论管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managecases">
                  <i class="material-icons">vertical_split</i>
                  <span>案例管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managenativecontent">
                  <i class="material-icons">note_add</i>
                  <span>内容中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managecount">
                  <i class="material-icons">view_module</i>
                  <span>数据中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managetables">
                  <i class="material-icons">table_chart</i>
                  <span>子账号管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageusercenter">
                  <i class="material-icons">person</i>
                  <span>账户信息</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="col-lg-12 col-md-12" style="position: fixed;bottom: 0;z-index:100;background-color: #ffffff;padding: 5px;">
              <button type="button"  class="mb-2 btn btn-sm btn-primary mr-1" onclick="savaData()">保存</button>
            </div>
            <!-- End Page Header -->
            <div class="row" style="margin-top: 8px;">

              <div class="col-lg-7 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body">
                    <form class="add-new-post">
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label for="title">课程标题</label>
                          <input type="text" class="form-control" id="title" placeholder="课程标题">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="indeximgurl">封面</label>
                          <div class="mb-3 mx-auto">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1588743624402&di=d7eeb4dca9d478f6f431d0e4cad095e9&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F15%2F41%2F24%2F82G58PICnZi_1024.png%2521%2Ffw%2F1024%2Fwatermark%2Furl%2FL2ltYWdlcy93YXRlcm1hcmsvZGF0dS5wbmc%3D%2Frepeat%2Ftrue" alt="User Avatar" width="180" id="indeximgurl"> </div>
                          <a href="javascript:;" class="file">上传图片
                            <input type="file" id="indeximg"  />
                          </a>
                        </div>
                        <div class="form-group col-md-8">
                          <label for="videoview">课程视频</label>
                          <div class="mb-3 mx-auto">
                            <div id="videoview"></div>
                            <a href="javascript:;" class="file">上传课程视频
                              <input type="file" id="video" />
                            </a>
                          </div>
                        </div>

                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="type">课程类型</label>
                          <select id="type" class="form-control">
                          </select>
                        </div>

                        <div class="form-group col-md-4">
                          <label for="pricetype">价格类型</label>
                         <select id="pricetype" class="form-control">
                           <option value="0">免费</option>
                           <option value="1">收费</option>
                         </select>
                        </div>

                          <div class="form-group col-md-4">
                            <label for="price">价格</label>
                            <input type="text" class="form-control" id="price" placeholder="价格">
                          </div>
                        </div>
                      <div class="form-row">
                        <div class="form-group col-md-3">
                          <label for="teacherheadurl">老师照片</label>
                          <div class="mb-3 mx-auto">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1588743624402&di=d7eeb4dca9d478f6f431d0e4cad095e9&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F15%2F41%2F24%2F82G58PICnZi_1024.png%2521%2Ffw%2F1024%2Fwatermark%2Furl%2FL2ltYWdlcy93YXRlcm1hcmsvZGF0dS5wbmc%3D%2Frepeat%2Ftrue" alt="User Avatar" width="80" id="teacherheadurl"> </div>
                          <a href="javascript:;" class="file">上传图片
                            <input type="file" id="logo"  />
                          </a>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="teachername">老师名称</label>
                          <input type="text" class="form-control" id="teachername" placeholder="老师名称">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="teacherdesc">老师介绍</label>
                          <input type="text" class="form-control" id="teacherdesc" placeholder="老师介绍">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>

              <div class="col-lg-5 col-md-12">
                <!-- Add New Post Form -->
                <div class="card card-small mb-3">
                  <div class="card-body">
                    <form class="add-new-post">
                      <span>课程展示内容</span>
                      <textarea class="easyui-validatebox" name="newsMatter" id="newsMatter" rows="60" cols="70" data-options="required:true">  </textarea>
                    </form>
                  </div>
                </div>
              </div>


              </div>
            </div>

        </main>

      </div>
    </div>
   
    <script src="../js/jquery-3.3.1.min.js" ></script>
     <script src="../ckeditor/ckeditor.js"></script>
     <script src="../layui/layui.js"></script>
     <script src="../scripts/popper.min.js"></script>
     <script src="../scripts/bootstrap.min.js"></script>
     <script src="../js/jquery.cookie.min.js"></script>
  <script>

    $.ajax({
      type: 'GET',
      url : "/base/studysubject",
      processData: false,
      contentType: false,
    }).done(function(result) {
      result.data.forEach( function (v,i) {
        $("#type").append("<option value='"+v.name+"'>"+v.name+"</option>");
      });

    });

    $("#indeximg").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            $("#indeximgurl").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#logo").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            $("#teacherheadurl").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#video").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.mp4';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.mp4';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.mp4';
          } else {
            imageName = 'uploaded-image.mp4';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
          });
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            layer.closeAll('loading');
            $("#videoview").html(" <video id='videourl' controls='controls' src='"+result.data+"' style='width: 300px;' name='showimage' onclick='remove(this)'>您的浏览器不支持 video 标签。</video>");
          });
        }
      };
      xhr.send();
    })

    function remove(obj){
      $(obj).remove();
    }

    layui.use('form', function(){
      var form = layui.form;
    });
    CKEDITOR.replace('newsMatter', {
      height : 600,
      filebrowserImageUploadUrl :  "/file/image"
    });

    $('#newsMatter').each(function () {
      var $textarea = $(this);
      var data=CKEDITOR.instances[$textarea.attr('name')].getData();
      data=data.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      data=data.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      $textarea.val(data);
    });

    function savaData(){

      var content = CKEDITOR.instances.newsMatter.getData();
      content=content.replace(/&ldquo;/g,'\"');//转义&ldquo; 左双引号
      content=content.replace(/&rdquo;/g,'\"');//转义&ldquo; 右双引号
      if ($("#title").val() == "" || $("#title").val() == null) {
        layui.use("layer",function() {
          layer.msg('请输入标题');
        }); return false;
      }
      if (content == "" || content == null) {
        layui.use("layer",function() {
          layer.msg('请编辑展示内容');
        }); return false;
      }



      $.ajax({
        type: 'Put',
        url: "/study/add",
        data: JSON.stringify({
          "title": $("#title").val(),
          "price": $("#price").val(),
          "content": content,
          "type":$("#type").val(),
          "indeximgurl":$("#indeximgurl").attr('src'),
          "videourl":$("#videourl").attr('src'),
          "pricetype":$("#pricetype").val(),
          "teachername":$("#teachername").val(),
          "teacherheadurl":$("#teacherheadurl").attr('src'),
          "teacherdesc":$("#teacherdesc").val(),
        }),
        processData: false,
        contentType: "application/json; charset=UTF-8",
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function (result) {
        layui.use("layer", function () {
          layer.alert('保存成功', {
            skin: 'layui-layer-molv' //样式类名
            , closeBtn: 0
            , anim: 4 //动画类型
          }, function () {
            window.location.replace("/managestudys");
          });

        });
      });
    }
    

  </script>
  </body>
</html>