<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家企业认证</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/styles/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css" >
    <link rel="stylesheet" href="/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>

      .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
      }
      .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
      }
      .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
      }


      input[type="checkbox"] {
        text-indent:0;
        margin: 0;
        width: 17px;
        height: 17px;
        text-align:center;
        display: inline-block;
        vertical-align: middle;
        line-height: 15px;
        position: relative;
      }
      input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        border: 1px solid #bdbfc2;
      }
      input[type="checkbox"]:checked::before {
        content: "\2713";
        background-color: #37b048;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        outline: none;
        border-color:#ccc;
        border: 1px solid #bdbfc2;
      }
    </style>
  </head>
  <body class="h-100">
      <div class="container-fluid">
      <div class="row">
          <!-- / .main-navbar -->
          <div class="alert alert-success alert-dismissible fade show mb-0" style="width: 100%!important;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <strong>企业认证!</strong>  成功认证的企业将开放商家后台! </div>
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">设汇家企业认证</span>
              </div>
            </div>
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <div class="row">

              <div class="col-lg-7">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">企业基本信息</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-row">
                              <div class="form-group col-md-5">
                                <label for="name">商铺名称</label>
                                <input type="text" class="form-control" id="name" placeholder="企业名称" value=""> </div>
                              <div class="form-group col-md-5">
                                <label for="companyname">企业名称</label>
                                <input type="text" class="form-control" id="companyname" placeholder="企业名称" value=""> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4" >
                                <label for="brandgroup">品牌馆</label>
                                <select id="brandgroup" class="form-control">

                                </select></div>
                              <div class="form-group col-md-5">
                                <label for="city">所在城市</label>
                                <input type="text" class="form-control" id="city" placeholder="城市" value=""> </div>
                            </div>
                              <div class="form-row">
                                <div class="form-group  col-md-12">
                                  <label for="labelview">标签</label>
                                  <div  id="labelview">
                                  </div>
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="unifiedcreditcode">统一信用代码</label>
                                <input type="text" class="form-control" id="unifiedcreditcode" placeholder="统一信用代码" value=""> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="companyaddress">注册地址</label>
                                <input type="text" class="form-control" name="companyaddress" id="companyaddress" placeholder="注册地址" value=""> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="businessscope">企业经营范围</label>
                                <textarea class="form-control" id="businessscope" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-10">
                                <label for="introduce">公司介绍</label>
                                <textarea class="form-control" id="introduce" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-5">
                                <label for="shopcreatetime">公司创立时间</label>
                                <input type="text" class="form-control" id="shopcreatetime" placeholder="公司创立时间" value=""> </div>
                              <div class="form-group col-md-5">
                                <label for="jmcount">加盟数量</label>
                                <input type="text" class="form-control" id="jmcount" placeholder="加盟数量" value=""> </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">联系人信息</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                      <div class="row">
                        <div class="col">
                          <form>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="contactname">联系人名称</label>
                                <input type="text" class="form-control" id="contactname" placeholder="请输入联系人名称" value=""> </div>
                              <div class="form-group col-md-4">
                                <label for="contactemail">联系人邮箱</label>
                                <input type="email" class="form-control" id="contactemail" placeholder="请输入联系人邮箱"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-4">
                                <label for="contactphone">手机号码</label>
                                <input type="text" class="form-control" id="contactphone" placeholder="请输入手机号码">
                              </div>
                              <div class="form-group col-md-2">
                                <label for="sendsms"></label>
                                <button type="button" class="btn " id="sendsms" style="margin-top: 30px;" onclick="sendMsgCode()">发送验证码</button>
                              </div>
                              <div class="form-group col-md-3">
                                <label for="smscode">验证码 </label>
                                <input type="text" class="form-control" id="smscode" placeholder="请输入验证码" oninput="check()"><span style="color: #17c671;font-size: 12px;font-weight: bold;" id="checkok"></span> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="idcard">身份证号码</label>
                                <input type="text" class="form-control" id="idcard" placeholder="身份证号码"> </div>
                              <div class="form-group col-md-6">
                                <label for="contactaddress">联系地址</label>
                                <input type="text" class="form-control" id="contactaddress" placeholder="请输入联系地址"> </div>
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="bzj">招商加盟保证金</label>
                                <input type="text" class="form-control" id="bzj" placeholder="招商加盟保证金"> </div>
                            </div>
                            <a href="javascript:;" onclick="vrinit()" style="color: #c69500;font-size: 16px;"> ＋增加一条VR信息</a> <br>
                            <div class="form-row" id="vr">

                            </div>

                            <br>
                            <button type="button" class="btn btn-accent" onclick="save()">提交认证</button>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="card card-small mb-4 pt-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-4">
                      <span style="font-size:12px ;">设汇家企业认证是企业身份的象征，通过企业认证后，可以增加用户的影响力，可以享有设汇家特殊权限，可以迅速增加粉丝。通过企业认证后，用户名字后面会加一个企业的标识。</span>
                    </li>
                  </ul>
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <img src="http://5b0988e595225.cdn.sohucs.com/images/20190301/4177a110311d4022b1b785d1d75962b9.jpeg" alt="User Avatar" width="200" id="businesslicenseimg"> </div>
                    <a href="javascript:;" class="file">上传营业执照
                     <input type="file" id="businesslicense" />
                    </a>
                  </div>
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/icon/webwxgetmsgimg12.jpg" alt="User Avatar" width="200" id="idcardpositiveimg"> </div>
                    <a href="javascript:;" class="file">上传身份证正面
                      <input type="file" id="idcardpositive"  />
                    </a>
                    <div class="mb-3 mx-auto">
                      <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/icon/webwxgetmsgimg.jpg" alt="User Avatar" width="200" id="idcardreverseimg"> </div>
                    <a href="javascript:;" class="file"> 上传身份证反面<input type="file" id="idcardreverse"  /></a>
                  </div>
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/2020081713431717252898142438959731.jpg" alt="User Avatar" width="150" id="logoimg"> </div>
                    <a href="javascript:;" class="file">上传商铺logo
                      <input type="file" id="logo"  />
                    </a>
                    <div class="mb-3 mx-auto" >
                      <div id="bannerview">
                      </div>
                       </div>
                    <a href="javascript:;" class="file"> 上传店铺广告图<input type="file" id="banner"  /></a>
                    <br>
                    <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/2020081713431717252898142438959731.jpg" alt="User Avatar" width="100" id="bannerimg">

                  </div>
                  <div class="card-header border-bottom text-center">
                    <div class="mb-3 mx-auto">
                      <div id="shouview"></div>
                      </div>
                    <a href="javascript:;" class="file">上传公司展示图
                      <input type="file" id="company_show"  />
                    </a>
                    <br>
                    <img src="https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/2020081713431717252898142438959731.jpg" alt="User Avatar" width="100" id="company_showimg">
                  </div>
                </div>
              </div>



            </div>
            <!-- End Default Light Table -->
          </div>
      </div>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/shards-dashboards.1.1.0.min.js"></script>

  <script>
    function removeid(id){
      $("#vra"+id).remove();
      $("#vrb"+id).remove();
      $("#vrc"+id).remove();
    }

    var idc=0;
    function vrinit(){
      $("#vr").append(" <div class=\"form-group col-md-4\" id='vrc"+idc+"'>\n  " +
              "<label for=\"vrtitle\"><a href=\"javascript:;\" class=\"file\">上传公司展示图" +
              "<input type=\"file\" onchange=\"imgup('"+idc+"',this)\" />" +
              "</a>" +
              "</label>" +
              "<img src=\"https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/public/2020081713431717252898142438959731.jpg\" alt=\"User Avatar\" width=\"80\" name='vri' id='vri"+idc+"'>" +
              "</div>" +
              " <div class=\"form-group col-md-4\" id='vra"+idc+"'>\n" +
      "                                <label for=\"vrtitle\">vr标题</label>\n" +
      "                                <input type=\"text\" class=\"form-control\" name=\"vrtitle\" placeholder=\"vr标题\" > </div>\n" +
      "                              <div class=\"form-group col-md-4\" id='vrb"+idc+"'>\n" +
      "                                <label for=\"vrweb\">vrweb</label>\n" +
      "                                <input type=\"text\" class=\"form-control\" name=\"vrweb\" placeholder=\"vrweb\"  > <a href=\"javascript:;\" onclick=\"removeid(\'"+idc+"\')\" style=\"color: red;font-size: 12px!important;\"> 删除</a> </div>");
      idc++;
    }

    function imgup(id,obj){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(obj.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {

            $("#vri"+id).attr("src",result.data);
          });
        }
      };
      xhr.send();
    }

    layui.use('form', function(){
      var form = layui.form;
    });

    $.ajax({
      type: 'GET',
      url : "/base/brandgroup",
      processData: false,
      contentType: false,
    }).done(function(result) {
      result.data.forEach( function (v,i) {
        $("#brandgroup").append("<option value='"+v.name+"'>"+v.name+"</option>");
      });

    });

    $.ajax({
      type: 'GET',
      url : "/base/styles",
      processData: false,
      contentType: false,
    }).done(function(result) {
      result.data.forEach( function (v,i) {
        $("#labelview").append('<div style="width: 70px;float: left;"><input id="labelviewitem'+i+'" type="checkbox" name="label" title="'+v+'" value="'+v+'" ><label for="labelviewitem'+i+'">'+v+'</label></div>&nbsp;&nbsp;');
      });

    });
    // $.ajax({
    //   type: 'GET',
    //   url : "/base/categorys",
    //   processData: false,
    //   contentType: false,
    // }).done(function(result) {
    //   result.data.forEach( function (v,i) {
    //     $("#labelview").append('<div style="width: 85px;float: left;"><input id="alabelviewitema'+i+'" type="checkbox" name="label" title="'+v+'" value="'+v+'" ><label for="alabelviewitem'+i+'">'+v+'</label></div>&nbsp;&nbsp;');
    //   });
    //
    // });
    function check() {
      $.ajax({
        type: 'POST',
        url : "/user/check?phone="+$("#contactphone").val()+"&sms="+$("#smscode").val(),
        processData: false,
        contentType: false,
      }).done(function(result) {
        if(result.data>0){
          $("#checkok").html(" [ √验证成功 ]");
        }else {
          $("#checkok").html("");
        }
      });
    }
    
    var countdown=60;  // 时长 s
    // 获取验证码按钮点击事件
    function sendMsgCode() {
      if($("#contactphone").val()==""||$("#contactphone").val()==null||!(/^1[3456789]\d{9}$/.test($("#contactphone").val()))){
        layui.use("layer",function() {
          layer.msg('手机号码不合法');
        });
        return false;
      }

      $("#sendsms").attr('disabled',true);
      $("#sendsms").text('重新发送('+60+'s)');
      var timer = setInterval(function () {
        if (countdown == 0) {
          clearInterval(timer);
          $("#sendsms").text('发送验证码');
          countdown = 60;
          $("#sendsms").attr('disabled',false);
        }

        $("#sendsms").text('重新发送('+(countdown-1)+'s)');
        countdown--;
      }, 1000);
      $.ajax({
        type: 'POST',
        url : "/user/sms?phone="+$("#contactphone").val(),
        processData: false,
        contentType: false,
      }).done(function(result) {

      });

    };

    $("#idcardpositive").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            $("#idcardpositiveimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#idcardreverse").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            $("#idcardreverseimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#businesslicense").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            console.log(result);
            $("#businesslicenseimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#logo").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            $("#logoimg").attr("src",result.data);
          });
        }
      };
      xhr.send();
    })

    $("#banner").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            $("#bannerimg").attr("src",result.data);
            $("#bannerview").append("<img src='"+result.data+"' name='bannerviewimg' onclick='remove(this)' style='width:80px;'>  &nbsp;");
          });
        }
      };
      xhr.send();
    })

    function remove(object){
      $(object).remove();
    }

    $("#company_show").on("change",function(){
      function getObjectURL(file) {
        var url = null;
        if (window.createObjcectURL != undefined) {
          url = window.createOjcectURL(file);
        } else if (window.URL != undefined) {
          url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) {
          url = window.webkitURL.createObjectURL(file);
        }
        return url;
      }
      var blobURL = getObjectURL(this.files[0]);
      var imgUTL = '';

      var xhr = new XMLHttpRequest();
      xhr.open('GET', blobURL);
      xhr.responseType = 'blob';

      xhr.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
          var imageBlob = this.response;
          var imageType = imageBlob.type;
          var imageName = null;
          if (imageType.includes('png')) {
            imageName = 'uploaded-image.png';
          } else if (imageType.includes('gif')) {
            imageName = 'uploaded-image.gif';
          } else if (imageType.includes('bmp')) {
            imageName = 'uploaded-image.bmp';
          } else {
            imageName = 'uploaded-image.jpg';
          }
          var form = new FormData();
          form.append('file', imageBlob, imageName); // 第三个参数为文件名
          $.ajax({
            type: 'POST',
            url : "/file/upload",
            data: form ,
            processData: false,
            contentType: false,
          }).done(function(result) {
            console.log(result);
            $("#company_showimg").attr("src",result.data);
            $("#shouview").append("<img src='"+result.data+"' name='shouviewimg' onclick='remove(this)' style='width:80px;'>");
          });
        }
      };
      xhr.send();
    })

      function save() {
       if ($("#name").val() == "" || $("#name").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入商铺名称');
          }); return false;
        }else if ($("#companyname").val() == "" || $("#companyname").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入公司名称');
          }); return false;
        } else if ($("#unifiedcreditcode").val() == "" || $("#unifiedcreditcode").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入统一信用代码');
          }); return false;
        } else if ($("#companyaddress").val() == "" || $("#companyaddress").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入公司注册地');
          }); return false;
        }else if ($("#city").val() == "" || $("#city").val() == null) {
         layui.use("layer",function() {
           layer.msg('请输入所在城市');
         }); return false;
       } else if ($("#businessscope").val() == "" || $("#businessscope").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入经营范围');
          }); return false;
        } else if ($("#introduce").val() == "" || $("#introduce").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入公司介绍');
          }); return false;
        } else if ($("#businesslicenseimg").attr('src') == "http://5b0988e595225.cdn.sohucs.com/images/20190301/4177a110311d4022b1b785d1d75962b9.jpeg" ) {
          layui.use("layer",function() {
            layer.msg('请上传营业执照');
          }); return false;
        } else if ($("#contactname").val() == "" || $("#contactname").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人名称');
          }); return false;
        } else if ($("#contactemail").val() == "" || $("#contactemail").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人邮箱');
          }); return false;
        } else if ($("#contactphone").val() == "" || $("#contactphone").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人手机号码');
          }); return false;
        } else if ($("#idcard").val() == "" || $("#idcard").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入身份证号码');
          }); return false;
        } else if ($("#contactaddress").val() == "" || $("#contactaddress").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入联系人地址');
          });return false;
        } else if ($("#idcardpositiveimg").attr('src') == "https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/icon/webwxgetmsgimg12.jpg" ) {
          layui.use("layer",function() {
            layer.msg('请输入上传身份证正面');
          });return false;
        } else if ($("#idcardreverseimg").attr('src') == "https://anoax-1258088094.cos.ap-chengdu.myqcloud.com/icon/webwxgetmsgimg.jpg") {
          layui.use("layer",function() {
            layer.msg('请输入上传身份证反面');
          });return false;
        } else if ($("#logoimg").attr('src') == ""||$("#logoimg").attr('src')==null ) {
         layui.use("layer",function() {
           layer.msg('请输入上传商铺logo');
         });return false;
       } else if ($("#bannerimg").attr('src') == ""||$("#bannerimg").attr('src')== null ) {
         layui.use("layer",function() {
           layer.msg('请输入上商铺广告图');
         });return false;
       } else if ($("#company_showimg").attr('src') == ""||$("#company_showimg").attr('src')== null ) {
         layui.use("layer",function() {
           layer.msg('请输入上公司展示图');
         });return false;
       } else if ($("#smscode").val() == "" || $("#smscode").val() == null) {
          layui.use("layer",function() {
            layer.msg('请输入验证码');
          }); return false;
        }else if ($("#shopcreatetime").val() == "" || $("#shopcreatetime").val() == null) {
         layui.use("layer",function() {
           layer.msg('请输入公司创立时间');
         }); return false;
       } else if ($("#jmcount").val() == "" || $("#jmcount").val() == null) {
         layui.use("layer",function() {
           layer.msg('请输入加盟数量');
         }); return false;
       }
        $.ajax({
          type: 'POST',
          url : "/user/check?phone="+$("#contactphone").val()+"&sms="+$("#smscode").val(),
          processData: false,
          contentType: false,

        }).done(function(result) {
          if(result.data>0){
            var bannerviewimg='';
            var i=0
            $("img[name='bannerviewimg']").each(function(){
              if(i==0) {
                bannerviewimg =  $(this).attr('src');
                i++;
              }else {
                bannerviewimg = bannerviewimg + ","+$(this).attr('src');
              }
            })

            var shouviewimg='';
             i=0
            $("img[name='shouviewimg']").each(function(){
              if(i==0) {
                shouviewimg =  $(this).attr('src');
                i++;
              }else {
                shouviewimg = shouviewimg + ","+$(this).attr('src');
              }
            })
            i=0
            var label='';
            $("input:checkbox[name='label']:checked").each(function(i){
              if(i==0) {
                label = label+$(this).val();
                i++;
              }else {
                label = label+","+$(this).val();
              }
            });
            var vrtitle='';
            i=0
            $("input[name='vrtitle']").each(function(){
              if($(this).val()==""||$(this).val()==null){
                layui.use("layer",function() {
                  layer.msg('请输入VR标题');
                }); return false;
              }
              if(i==0) {
                vrtitle =  $(this).val();
                i++;
              }else {
                vrtitle = vrtitle + ","+$(this).val();
              }
            })
            var vrweb='';
            i=0
            $("input[name='vrweb']").each(function(){
              if($(this).val()==""||$(this).val()==null){
                layui.use("layer",function() {
                  layer.msg('请输入VRWEB');
                }); return false;
              }
              if(i==0) {
                vrweb =  $(this).val();
                i++;
              }else {
                vrweb = vrweb + ","+$(this).val();
              }
            })

            var vrimage='';
            i=0
            $("img[name='vri']").each(function(){
              if(i==0) {
                vrimage =  $(this).attr('src');
                i++;
              }else {
                vrimage = vrimage + ","+$(this).attr('src');
              }
            })
            $.ajax({
                type: 'POST',
                url: "/user/userauth",
                data: JSON.stringify({
                  "city": $("#city").val(),
                  "name": $("#name").val(),
                  "brandgroup": $("#brandgroup").val(),
                  "label": label,
                  "introduce": $("#introduce").val(),
                  "businesslicense": $("#businesslicenseimg").attr('src'),
                  "logo": $("#logoimg").attr('src'),
                  "banner": bannerviewimg,
                  "company_show": shouviewimg,
                  "businessscope": $("#businessscope").val(),
                  "companyaddress": $("#companyaddress").val(),
                  "companyname": $("#companyname").val(),
                  "contactaddress": $("#contactaddress").val(),
                  "contactname": $("#contactname").val(),
                  "contactemail": $("#contactemail").val(),
                  "contactphone": $("#contactphone").val(),
                  "idcard": $("#idcard").val(),
                  "idcardpositive": $("#idcardpositiveimg").attr('src'),
                  "idcardreverse": $("#idcardreverseimg").attr('src'),
                  "unifiedcreditcode": $("#unifiedcreditcode").val()
                  ,"vrtitle": vrtitle
                  ,"vrweb": vrweb
                  ,"vrimage": vrimage
                  ,"bzj": $("#bzj").val()
                  ,"shopcreatetime": $("#shopcreatetime").val()
                  ,"jmcount": $("#jmcount").val()
                }),
                processData: false,
                contentType: "application/json; charset=UTF-8",
              }).done(function (result) {
                layui.use("layer", function () {
                  layer.alert('您的申请成功，我们将在一个工作日内进行审核。您的默认密码为123456，请登录设汇家APP进行修改！', {
                    skin: 'layui-layer-molv' //样式类名
                    , closeBtn: 0
                    , anim: 4 //动画类型
                  }, function () {
                    window.location.replace("/login");
                  });
                });
              });
      }else {layui.use("layer",function() {layer.msg('无效验证码');}); return false;}
        });
    };

  </script>
  </body>
</html>