<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="never">
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">

  </head>
  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item ">
                <a class="nav-link " href="/managehtindex">
                  <i class="material-icons">vertical_split</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageuser">
                  <i class="material-icons">table_chart</i>
                  <span>企业管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageuserinfos">
                  <i class="material-icons">vertical_split</i>
                  <span>用户管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageintegralgoods">
                  <i class="material-icons">vertical_split</i>
                  <span>积分商品管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageshopingmanage">
                  <i class="material-icons">table_chart</i>
                  <span>积分商品发货管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managebanners">
                  <i class="material-icons">vertical_split</i>
                  <span>广告管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managenativecontent">
                  <i class="material-icons">note_add</i>
                  <span>内容中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managestudysgroup">
                  <i class="material-icons">vertical_split</i>
                  <span>课程管理</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/managescaseauth">
                  <i class="material-icons">vertical_split</i>
                  <span>案例审查</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managescases">
                  <i class="material-icons">vertical_split</i>
                  <span>案例管理</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="请输入搜索内容" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="../images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">用户名</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" onclick="out()">
                      <i class="material-icons text-danger">&#xE879;</i> 退出 </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
              </div>
            </div>
            <div class="row" id="content">

            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="../js/jquery-3.3.1.min.js" ></script>
    <script src="../layui/layui.js"></script>
    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="../js/jquery.cookie.min.js"></script>

  <script>
    var index=0;
    list(index);

    $(window).scroll(function () {

      var scrollTop = $(this).scrollTop();
      //console.log(scrollTop);
      var scrollHeight = $(document).height();
      //console.log('['+scrollHeight+']');
      var windowHeight = screen.availHeight;
      //console.log('【'+windowHeight+'】');
      if (scrollTop+ windowHeight >= scrollHeight) {
        if (stop == true && ipage <= totalPage) {
          stop = false;
        } else {
          index++;
          list(index)
        }
      }
    });
    function list(page) {
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "/caseByPage?page="+page,
        "method": "POST",
        "processData": false,
        "headers": {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }
      $.ajax(settings).done(function (response) {
        response.data.forEach(function (v,i) {
          var _cj = '<button type="button"  id="cj'+v.code+'"  class="layui-btn ayui-btn-xs layui-btn-danger" onclick="cj(\''+v.code+'\',2)">置顶</button>';
          if(v._cj==2){
            _cj= '<button type="button"  id="cj'+v.code+'"  class="layui-btn ayui-btn-xs layui-btn-warm" onclick="cj(\''+v.code+'\',0)">取消置顶</button>';
          }
          var html= '<div class="col-lg-3 col-md-6 col-sm-12 mb-4" id="'+v.code+'">'+
                  '<div class="card card-small card-post card-post--1">'+
                  '<div class="card-post__image" style="background-image: url('+v.indexurl+');"  id="view'+v.code+'">'+
                  '<a href="#" class="card-post__category badge badge-pill badge-dark">'+v.subject+'|'+v.label+'</a>'+
                  _cj+
                  '</div>'+
                  '<div class="card-body" style="margin-top: -10px!important;">'+
                  '<p class="card-title" style="font-weight: bold;font-size: 16px;margin-bottom: 3px;">'+v.name+'<br>'+
                  '<span style="font-size: 12px;color: #c69500;">'+v.title+'</span></p>'+
                  '<span class="text-muted" style="font-size: 12px;">'+v.addftime+'  发布     <button type="button" class="mb-1 btn btn-sm btn-info mr-1" onclick="xj(\''+v.code+'\')"> 下架</button> <a href="/managescaseinfo?code='+v.code+'"> 查看</a></span>'+
                  '</div></div></div>';
          $("#content").append(html);
        })
      });

    }

    function cj(code,type) {

      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "/cj?code="+code+"&type="+type,
        "method": "POST",
        "processData": false,
        "headers": {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }
      $.ajax(settings).done(function (response) {
        if(type==0){
          $("#cj"+code).remove();
          $("#view"+code).append('<button id="cj'+code+'"  class="layui-btn ayui-btn-xs layui-btn-danger" onclick="cj(\''+code+'\',2)">置顶</button>');
        }else {
          $("#cj"+code).remove();
          $("#view"+code).append('<button id="cj'+code+'" class="layui-btn ayui-btn-xs layui-btn-warm" onclick="cj(\''+code+'\',0)">取消置顶</button>');
        }
      });


    }
function xj(code) {
  var settings = {
    "async": true,
    "crossDomain": true,
    "url": "/remove?code="+code,
    "method": "Delete",
    "processData": false,
    "headers": {
      "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
      "cache-control": "no-cache",
      "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
    }
  }
  $.ajax(settings).done(function (response) {
    alert("删除成功！")
      $("#"+code).remove();
  });

}

  </script>
  </body>
</html>