<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
  </head>
  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" id="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item ">
                <a class="nav-link " href="/managehtindex">
                  <i class="material-icons">vertical_split</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageuser">
                  <i class="material-icons">table_chart</i>
                  <span>企业管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageintegralgoods">
                  <i class="material-icons">vertical_split</i>
                  <span>积分商品管理</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/manageshopingmanage">
                  <i class="material-icons">table_chart</i>
                  <span>积分商品发货管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managebanners">
                  <i class="material-icons">vertical_split</i>
                  <span>广告管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managenativecontent">
                  <i class="material-icons">note_add</i>
                  <span>内容中心</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/managestudys">
                  <i class="material-icons">vertical_split</i>
                  <span>课程管理</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="请输入搜索内容" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="../../static/images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">用户名</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" onclick="out()">
                      <i class="material-icons text-danger">&#xE879;</i> 退出 </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <div class="layui-tab">
            <ul class="layui-tab-title">
              <li class="layui-this">未发货列表</li>
              <li>已发货列表</li>

            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">
                <div class="main-content-container container-fluid px-4">
                  <!-- End Page Header -->
                  <!-- Default Light Table -->
                  <div class="row">
                    <div class="col">
                      <div class="card card-small mb-4">
                        <div class="card-header border-bottom">
                          <h6 class="m-0">未发货列表</h6>
                        </div>
                        <div class="card-body p-0 pb-3 text-center">
                          <table class="table mb-0">
                            <thead class="bg-light">
                            <tr>
                              <th scope="col" class="border-0">用户名</th>
                              <th scope="col" class="border-0">商品信息</th>
                              <th scope="col" class="border-0">发货信息</th>
                              <th scope="col" class="border-0">兑换时间</th>
                              <th scope="col" class="border-0">操作</th>
                            </tr>
                            </thead>
                            <tbody id="dataview" >

                            </tbody>
                          </table>
                          <div id="pages"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-tab-item">
                <div class="main-content-container container-fluid px-4">
                <!-- End Page Header -->
                <!-- Default Light Table -->
                <div class="row">
                  <div class="col">
                    <div class="card card-small mb-4">
                      <div class="card-header border-bottom">
                        <h6 class="m-0">已发货列表</h6>
                      </div>
                      <div class="card-body p-0 pb-3 text-center">
                        <table class="table mb-0">
                          <thead class="bg-light">
                          <tr>
                            <th scope="col" class="border-0">用户名</th>
                            <th scope="col" class="border-0">商品信息</th>
                            <th scope="col" class="border-0">发货信息</th>
                            <th scope="col" class="border-0">兑换时间</th>
                            <th scope="col" class="border-0">发货时间</th>
                          </tr>
                          </thead>
                          <tbody id="dataviewa" >

                          </tbody>
                        </table>
                        <div id="pagesa"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>

            </div>
          </div>
          <!-- / .main-navbar -->

        </main>
      </div>
    </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <script src="../js/jquery.cookie.min.js"></script>
     <script src="../layui/layui.js"></script>

  <script>

    layui.use('element', function(){
      var $ = layui.jquery
              ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

      //触发事件
      var active = {
        tabAdd: function(){
          //新增一个Tab项
          element.tabAdd('demo', {
            title: '新选项'+ (Math.random()*1000|0) //用于演示
            ,content: '内容'+ (Math.random()*1000|0)
            ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
          })
        }
        ,tabDelete: function(othis){
          //删除指定Tab项
          element.tabDelete('demo', '44'); //删除：“商品管理”


          othis.addClass('layui-btn-disabled');
        }
        ,tabChange: function(){
          //切换到指定Tab项
          element.tabChange('demo', '22'); //切换到：用户管理
        }
      };

      $('.site-demo-active').on('click', function(){
        var othis = $(this), type = othis.data('type');
        active[type] ? active[type].call(this, othis) : '';
      });

      //Hash地址的定位
      var layid = location.hash.replace(/^#test=/, '');
      element.tabChange('test', layid);

      element.on('tab(test)', function(elem){
        location.hash = 'test='+ $(this).attr('lay-id');
      });

    });

    var index=0;
    function find(page) {
      $.ajax({
        type: 'GET',
        url : "/shoping/getintegralgoodsorder?page="+page+"&status=1",
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        $("#dataview").html("");
        result.data.forEach(function (v,i) {
          var img=v.integralGoods.imgs.split(",")[0];
          console.log(v);
          $("#dataview").append('<tr id="'+v.code+'">'+
                  ' <td><img src="'+v.userSecurity.userBasic.headportrait+'" style="width:30px;" class=" rounded-circle"> '+v.userSecurity.userBasic.nikename+'</td>'+
                  '<td style="font-weight: bold;">'+v.integralGoods.title+' | '+v.integralGoods.price+'积分<br><img src="'+img+'" style="width:80px;" ></td>'+
                  '<td style="text-align: left;padding-left: 100px;">'+v.address.name+'&nbsp;'+v.address.phone+'<br>'+v.address.province+'&nbsp;'+v.address.city+'&nbsp;'+v.address.area+'<br>'+v.address.address+'</td>'+
                  '<td>'+v.addftime+'</td>'+
                  "<td><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"fh('"+v.code+"')\">发货</button></td>"+
                  '</tr>')
        });
      });
    }

    layui.use(['laypage', 'layer'], function(){
      var laypage = layui.laypage
              ,layer = layui.layer;
      $.ajax({
        type: 'GET',
        url : "/shoping/getintegralgoodsordercount?status=1",
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        laypage.render({
          elem: 'pages'
          ,count: result.data
          ,theme: '#FF5722'
          ,jump: function(obj, first){
            index=obj.curr-1;
            find(obj.curr-1);
          }
        });
      });
    });

    function fh(code) {
      layui.use("layer", function () {
        layer.prompt({title: '请输入快递单号', formType: 2}, function(text, index){
          $.ajax({
            type: 'PUT',
            url : "/shoping/integralgoodsorderfh?code="+code+"&kdd="+text,
            async: true,
            crossDomain: true,
            headers: {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
            }
          }).done(function(result) {
            $("#"+code).remove();
            layer.close(index);
            lay.msg("订单编号填写成功！发货中");
          });
        });
      });
    }


    var indexa=0;
    function finda(page) {
      $.ajax({
        type: 'GET',
        url : "/shoping/getintegralgoodsorder?page="+page+"&status=2",
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        $("#dataviewa").html("");
        result.data.forEach(function (v,i) {
          var img=v.integralGoods.imgs.split(",")[0];
          $("#dataviewa").append('<tr id="'+v.code+'">'+
                  ' <td><img src="'+v.userSecurity.userBasic.headportrait+'" style="width:30px;" class=" rounded-circle"> '+v.userSecurity.userBasic.nikename+'</td>'+
                  '<td style="font-weight: bold;">'+v.integralGoods.title+' | '+v.integralGoods.price+'积分<br><img src="'+img+'" style="width:80px;" ></td>'+
                  '<td style="text-align: left;padding-left: 100px;">'+v.address.name+'&nbsp;'+v.address.phone+'<br>'+v.address.province+'&nbsp;'+v.address.city+'&nbsp;'+v.address.area+'<br>'+v.address.address+'</td>'+
                  '<td>'+v.addftime+'</td>'+
                  "<td>"+v.fhtime+"</td>"+
                  '</tr>')
        });
      });
    }

    layui.use(['laypage', 'layer'], function(){
      var laypage = layui.laypage
              ,layer = layui.layer;
      $.ajax({
        type: 'GET',
        url : "/shoping/getintegralgoodsordercount?status=2",
        async: true,
        crossDomain: true,
        headers: {
          "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
          "cache-control": "no-cache",
          "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
        }
      }).done(function(result) {
        laypage.render({
          elem: 'pagesa'
          ,count: result.data
          ,theme: '#FF5722'
          ,jump: function(obj, first){
            index=obj.curr-1;
            finda(obj.curr-1);
          }
        });
      });
    });

  </script>
  </body>
</html>