<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>设汇家 ｜ 泛家居行业供应链平台</title>
    <meta name="keywords" content="浑浊探索,苏州浑浊信息科技有限公司,turbid,explore,科技">
    <meta name="description" content="设汇家官网">
    <meta name="author" content="设汇家">    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="../styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="../styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
  </head>
  <body class="h-100">
     <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <span class="d-none d-md-inline ml-1">设汇+</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item ">
                <a class="nav-link " href="/managehtindex">
                  <i class="material-icons">vertical_split</i>
                  <span>首页</span>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link " href="/manageuser">
                  <i class="material-icons">table_chart</i>
                  <span>企业管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageuserinfos">
                  <i class="material-icons">vertical_split</i>
                  <span>用户管理</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/manageintegralgoods">
                  <i class="material-icons">vertical_split</i>
                  <span>积分商品管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/manageshopingmanage">
                  <i class="material-icons">table_chart</i>
                  <span>积分商品发货管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managebanners">
                  <i class="material-icons">vertical_split</i>
                  <span>广告管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managenativecontent">
                  <i class="material-icons">note_add</i>
                  <span>内容中心</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managestudysgroup">
                  <i class="material-icons">vertical_split</i>
                  <span>课程管理</span>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="/managescaseauth">
                  <i class="material-icons">vertical_split</i>
                  <span>案例审查</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" id="text" oninput="find(0)" type="text" placeholder="请输入搜索内容" aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle mr-2" src="../../static/images/avatars/0.jpg" alt="User Avatar">
                    <span class="d-none d-md-inline-block">用户名</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-small">
                    <a class="dropdown-item text-danger" onclick="out()">
                      <i class="material-icons text-danger">&#xE879;</i> 退出 </a>
                  </div>
                </li>
              </ul>
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <!-- End Page Header -->
            <!-- Default Light Table -->
            <br>
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">企业用户管理</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                        <tr>
                          <th scope="col" class="border-0">企业信息</th>
                          <th scope="col" class="border-0">企业联系方式</th>
                          <th scope="col" class="border-0">严选信息</th>
                          <th scope="col" class="border-0">保证金</th>
                          <th scope="col" class="border-0">会员信息</th>
                          <th scope="col" class="border-0">注册时间</th>
                          <th scope="col" class="border-0">操作</th>
                        </tr>
                      </thead>
                      <tbody id="dataview">

                      </tbody>
                    </table>
                    <div id="pages"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     <script src="../js/jquery.cookie.min.js"></script>
     <script src="../layui/layui.js"></script>

     <script>
        find(0);
       function find(page) {
         $.ajax({
           type: 'Post',
           url : "/shop/shops?page="+page+"&text="+$("#text").val(),
           async: true,
           crossDomain: true,
           headers: {
             "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
             "cache-control": "no-cache",
             "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
           }
         }).done(function(result) {
           $("#dataview").html("");
           result.data.forEach(function (v,i) {
             var ischoose="<span style='font-weight: bold;color: grey;border: grey 1px solid;'>&nbsp;非严选&nbsp;</span>" +
                     "<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"yanxuan('"+v.code+"',1)\">设为严选企业</button>";
             if(v.ischoose==1){
                ischoose="<span style='font-weight: bold;color: red;border: red 1px solid;'>&nbsp;严选企业&nbsp;</span>"+
                        "<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"yanxuan(\'"+v.code+"',0)\">取消严选企业</button>";
             }

             var m="<button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"updatestatus('"+v.code+"',1)\">上架</button>";
             if(v.status==1){
               m="<button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"updatestatus(\'"+v.code+"',0)\">下架</button>";
             }

             var vip="无vip信息";
             if(v.vipday!=null){
               vip="<span style='font-weight: bold;color: orange;border: orange 1px solid;'> &nbsp;"+v.vipday+"到期&nbsp;</span>"
             }
             vip=vip+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"go('"+v.code+"')\">充值会员</button>";

             var margin="未缴纳保证金"+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"bzj('"+v.code+"')\">缴纳保证金</button>";
             if(v.margin!=null&&v.margin!=0){
               margin=v.margin+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"tbzj('"+v.code+"')\">退还保证金</button>";;
             }
             $("#dataview").append('<tr>'+
                     ' <td><img src="'+v.logo+'" style="width:30px;" class=" rounded-circle"> '+v.name+'<br>'+v.companyname+'</td>'+
                     '<td>'+v.contactname+'<br>'+v.contactphone+'</td>'+
                     '<td id="yanxuan'+v.code+'">'+ischoose+'</td>'+
                     '<td id="bzj'+v.code+'">'+margin+'</td>'+
                     '<td id="vip'+v.code+'">'+vip+'</td>'+
                     '<td>'+v.addftime+'</td>'+
                     '<td id="m'+v.code+'">'+m+'</td>'+
                     '</tr>')
           });
         });
       }

        layui.use(['laypage', 'layer'], function(){
          var laypage = layui.laypage
                  ,layer = layui.layer;
          $.ajax({
            type: 'GET',
            url : "/shop/shopscount?text="+$("#text").val(),
            async: true,
            crossDomain: true,
            headers: {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
            }
          }).done(function(result) {
            laypage.render({
              elem: 'pages'
              ,count: result.data
              ,theme: '#FF5722'
              ,jump: function(obj, first){
                find(obj.curr-1);
              }
            });
          });
        });

       function yanxuan(code,status) {
         $.ajax({
           type: 'Post',
           url : "/shop/yanxuan?code="+code+"&status="+status,
           async: true,
           crossDomain: true,
           headers: {
             "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
             "cache-control": "no-cache",
             "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
           }
         }).done(function(result) {
           console.log(result);
           var ischoose="<span style='font-weight: bold;color: grey;border: grey 1px solid;'>&nbsp;非严选&nbsp;</span>" +
                   "<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"yanxuan('"+result.data.code+"',1)\">设为严选企业</button>";
           if(result.data.ischoose==1){
             ischoose="<span style='font-weight: bold;color: red;border: red 1px solid;'>&nbsp;严选企业&nbsp;</span>"+
                     "<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"yanxuan('"+result.data.code+"',0)\">取消严选企业</button>";
           }
          $("#yanxuan"+code).html(ischoose);

         });
       }
        var viewa;

        function go(code) {
          layui.use("layer", function () {
          viewa= layer.open({
              type: 1,
              title: "会员充值",
              skin: 'layui-layer-rim', //加上边框
              area: ['500px', '300px'], //宽高
              content: '<table class="layui-table">\n' +
                      '  <thead>\n' +
                      '    <tr>\n' +
                      '      <th>高级会员(月卡)</th>\n' +
                      '      <th>高级会员(季卡)</th>\n' +
                      '      <th>高级会员(年卡)</th>\n' +
                      '    </tr> \n' +
                      '  </thead>\n' +
                      '  <tbody>\n' +
                      '    <tr>\n' +
                      '      <td><button type="button" class="layui-btn layui-btn-fluid" onclick="vip(\''+code+'\',1)">立即开通</button></td>' +
                      '      <td><button type="button" class="layui-btn layui-btn-fluid" onclick="vip(\''+code+'\',6)">立即开通</button></td>\n' +
                      '      <td><button type="button" class="layui-btn layui-btn-fluid" onclick="vip(\''+code+'\',12)">立即开通</button></td>\n' +
                      '    </tr>\n' +
                      '  </tbody>\n' +
                      '</table>'
            });
          });
        }


        function vip(code,m) {
          layui.use("layer", function () {
            $.ajax({
                type: 'Post',
                url : "/shop/bzjandvip?code="+code+"&m="+m,
                async: true,
                crossDomain: true,
                headers: {
                  "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
                  "cache-control": "no-cache",
                  "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
                }
              }).done(function(result) {
              var vip="无vip信息";
              if(result.data.vipday!=null){
                vip="<span style='font-weight: bold;color: orange;border: orange 1px solid;'> &nbsp;"+result.data.vipday+"到期&nbsp;</span>"
              }
              vip=vip+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"go('"+code+"')\">充值会员</button>";

              $("#vip"+code).html(vip);
              layer.close(viewa);
                lay.msg("充值成功！");

            });
          });
        }

        function bzj(code) {
          layui.use("layer", function () {
          layer.prompt({title: '请输入保证金金额，单位为元', formType: 2}, function(text, index){
            $.ajax({
              type: 'Post',
              url : "/shop/bzjandvip?code="+code+"&bzj="+text,
              async: true,
              crossDomain: true,
              headers: {
                "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
                "cache-control": "no-cache",
                "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
              }
            }).done(function(result) {
              var margin="未缴纳保证金"+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"bzj('"+code+"')\">缴纳保证金</button>";
              if(result.data.margin!=null&&result.data.margin!=0){
                margin=result.data.margin+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"tbzj('"+code+"')\">退还保证金</button>";;
              }
              $("#bzj"+code).html(margin);
              layer.close(index);
              lay.msg("操作成功！");
            });
          });
          });
        }

        function tbzj(code) {
            $.ajax({
              type: 'Post',
              url : "/shop/bzjandvip?code="+code+"&bzj=0",
              async: true,
              crossDomain: true,
              headers: {
                "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
                "cache-control": "no-cache",
                "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
              }
            }).done(function(result) {
              var margin="未缴纳保证金"+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"bzj('"+code+"')\">缴纳保证金</button>";
              if(result.data.margin!=null&&result.data.margin!=0){
                margin=result.data.margin+"<br><button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"tbzj('"+code+"')\">退还保证金</button>";;
              }
              $("#bzj"+code).html(margin);
              layui.use("layer", function () {
                lay.msg("退还成功！");
              })
            });
        }

        function updatestatus(code,status) {
          $.ajax({
            type: 'Post',
            url : "/shop/updatestatus?code="+code+"&status="+status,
            async: true,
            crossDomain: true,
            headers: {
              "Authorization": "Bearer " + $.cookie("ACCESS_TOKEN"),
              "cache-control": "no-cache",
              "Postman-Token": "0d83bfb4-ef46-46d6-ae5e-02b7a296a3e2"
            }
          }).done(function(result) {
            var m="<button type=\"button\" class=\"mb-2 btn btn-sm btn-success mr-1\" onclick=\"updatestatus('"+result.data.code+"',1)\">上架</button>";
            if(result.data.status==1){
              m="<button type=\"button\" class=\"mb-2 btn btn-sm btn-danger mr-1\" onclick=\"updatestatus(\'"+result.data.code+"',0)\">下架</button>";
            }

            $("#m"+code).html(m);
          });
        }
     </script>
  </body>
</html>